---
import App from '../components/App.tsx';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dailies Rotator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet" />
    <style>
      @import "tailwindcss";
      @theme {
        --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
      }
      body {
        font-family: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
      }
    </style>
  </head>
  <body>
    <App client:only="react" />
  </body>
</html>
